body {
  background-color: #F2EFE9;
  margin: 50px;
}

/* h1 headers */ 
h1 { 
  font-family: "Silkscreen", sans-serif;
  color: #2E294E;
  font-size: 40px;
  text-align: center;
}

/* h2 headers */ 
h2 { 
  font-family: "Changa", sans-serif;
  color: #2E294E;
  font-size: 30px;
  text-align: center;
  padding-bottom: 0;
}

/* paragraphs */
p { 
  font-size: 25px;
  color: #2E294E;
  font-family: "Changa", sans-serif;
  text-align: center;
} 

/* image boxes */ 
.wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.box {
  border: 10px solid #2E294E;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img {
  width: 100%;
  height: 100%;
  display: block;
}

.box1 img {
  object-fit: cover;
}

.box2 img {
  object-fit: fill;
}

.box3 img {
  object-fit: fill;
}
